.colon span::after{
	content:":";
	float: right;
}

.bold > span {
  font-weight: 500;
}

.slide-color.mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: rgba(0, 169, 153, 0.5) !important;
    border: 1px solid white !important;
}

.mat-slide-toggle-thumb{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: 2px solid white;
}

.hardwaretab {
    padding-bottom: 0px;
}