.mat-card.sg-card {
  background-color: #009688;
  color: white;
  text-align: center;
}

.san-caption {
  color: white;
}

.main-btn .toolbar-btn {
  background-color: #448A96;
}

.ise-no-data-found-to-display {
  width: 100%;
  background: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.dashboardSan {
  margin-top: 25px;
}
