.pool_red{
  color: #ff3333;
}

.pools_available_capacity {
  color:#64bd63
  
}

.alloc-width{
 min-width: 118px !important;
 
}

.size-width{
	max-width:8% !important;
	min-width:50px !important;
	padding-right :5px;
}

.raid-width{
	max-width:7% !important;
	min-width:50px !important;
	padding-right :5px;
}

.pool-width{
	max-width:7% !important;
	min-width:50px !important;
	padding-right :5px;
}

.provision-width{
	max-width: 12% !important;
    min-width: 50px !important;
    padding-right: 5px;
}

.status-width{
	max-width: 15% !important;
    min-width: 50px !important;
    padding-right: 5px;
}