<div class="col-xs-12">
  <div class="row" *ngIf="!isForm && timezone_data">
    <div class="row" *ngIf="timeZoneLoading">
      <div class="col-12 ">
        <app-xio-loader [displayText]="'loading..'"></app-xio-loader>
      </div>
    </div>
    <div class="col-12">
      <h4>Time</h4>
    </div>
    <div class="col-12" *ngIf="!timeZoneLoading">
      <div class="row">
        <label class="col-5 colon">Date</label>
        <span class="col-7">{{timezone_data.date}}</span>
      </div>
      <div class="row">
        <label class="col-5 colon">Time</label>
        <span class="col-7">{{timezone_data.time}}</span>
      </div>
      <div class="row">
        <label class="col-5 colon">Time Zone</label>
        <span class="col-7">{{timezone_data.timezone}}</span>
      </div>
      <div class="row">
        <label class="col-5 colon">DST</label>
        <span class="col-7">{{timezone_data.dst}}</span>
      </div>
      <div class="row" *ngIf="timezone_data.ntp">
        <label class="col-5 colon">NTP Mode</label>
        <span class="col-7">{{timezone_data.ntp.ntpmode}}</span>
      </div>
      <div class="row" *ngIf="timezone_data.ntp">
        <label class="col-5 colon">NTP Server</label>
        <span class="col-7">{{timezone_data.ntp.ntpserver}}</span>
      </div>
      <div class="col-3">
        <button md-raised-button color="primary" (click)="toggleForm()">Edit
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isForm">
    <form novalidate [formGroup]="timezoneForm" autocomplete="off" class="">
      <div class="col-12 col-sm-12">
        <div class="row">
          <div class="col-12">
            <md-input-container>
              <input mdInput [mdDatepicker]="picker" formControlName="date" ng-model="myDate" placeholder="Choose a date">
              <button mdPrefix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
          </div>
          <div class="col-12">
            <md2-datepicker class="setting-dp" placeholder="hh:mm:ss" formControlName="time" type='time' format="HH:mm:ss">
            </md2-datepicker>
          </div>
          <div class="col-12 form-slider-group">
            <md-select placeholder="Time Zone" id="TimeZone" formControlName="timezone">
              <md-option *ngFor="let tz of timezone_list" [(value)]="tz.Abbreviation">{{tz.Name}}</md-option>
            </md-select>
          </div>
          <div class="col-12">
            <label>DST</label>
            <md-slide-toggle color="primary" id="dst" name="dst" formControlName="dst">
            </md-slide-toggle>
          </div>
          <div class="col-12 form-slider-group">
            <md-select placeholder="NTP Mode" formControlName="ntpmode">
              <md-option [value]="'automatic'">Automatic</md-option>
              <md-option [value]="'static'">Static</md-option>
              <md-option [value]="'disabled'">Disabled</md-option>
            </md-select>
          </div>
          <div class="col-12">
            <md-input-container>
              <input mdInput formControlName="ntpserver" placeholder="NTP Server" />
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button md-raised-button color="warn" (click)="onCancel()">
              Cancel
            </button>
            <button md-raised-button color="primary" (click)="onTimeUpdate()">
              Update
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
