<div class="main-bar">
    <div class="row">
        <div class=" col-sm white main-heading">
            <h3 class="mtb-0"> <md-icon>contact_mail</md-icon> <span>Contact Us</span></h3>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>

<div class="row">


<div class="col-sm-12">
	
<md-card class="mt-30 mb-30">
	
<h1>X-IO technologies</h1>
<p>2375 Telstar Suite 150 <span class="plr-10">|</span> Colorado Springs, CO 80920 </p>
<p>Tel: 719.388.5500</p>
<p>Customer Support: 1-800-734-4716</p> 

<p><md-icon class="grey">mail</md-icon><a href="mailto:support@x-io.com" target="_top">support@x-io.com</a><span class="plr-10">|</span>
<md-icon class="grey">language</md-icon><a href="http://xiostorage.com/" target="_blank">www.xiostorage.com</a></p>



</md-card>

</div>



</div>