.button-left{margin-right:1%;}

button{margin:5px 0px;}

.volume-info .col-sm{
	
	padding-right:0px;
	padding-left:0px;
	font-size:85%;
}
.volume-info .form-box{margin:0px; min-height:65px; border:1px solid #efefef; margin-bottom:30px;}

.my-class{
	padding-top: 40px;
}

/*.col-9.sqs, .col-12.sqs{
    padding-left: 0;
}*/

span.pools_available_capacity.pool-capacity-data {
    font-size: 80%;
}

.create-volume-form.mat-slide-toggle{
	margin-top:5.6px;
}