

.label-conatiner{
  padding-bottom:15px;
}

.ise-encryption-label{
  text-transform: capitalize;
}

.encryption-label{
  color: #0ea149;
}

.ise-encryption-btn-conatiners{
  margin:15px 0px 15px 0px
}

.enable-encryption-container{
  padding-left:15px;
}

.encryptn-btn-cntnr{
  padding-left:0px;
  margin-bottom: 15px;
}

.encryption-btn-width{
  width:90%;
}

.ise-encryption-btn__containers{
  padding:20px 0px 15px 0px;
}
