.pointer .material-icons{
	
	font-size: 90%;
	color:#00ac99;
}

    .right-divider{
    border-right: 1px solid #e0e0e0;
    }

    .scroll-container{
        height: 80px;
        overflow: auto;
        margin-bottom: 0;
        padding: 0px 30px;
    	background: #f9f9f9;
        }
hr{
	
	margin-top:0.25rem;
	margin-bottom:0.25rem;
}	

.mn-80{
height:150px;
}