.colon::after {
  content: ":";
  float: right;
}

.form-box {
  border: none;
  margin: 0;
  padding: 0;
}

.ise-edit-card {
  margin-top: 30px
}

.padd-tb20 {
  padding: 20px 0px;
}

.padd-tb5 {
  padding: 5px 0px;
}

.padd0 {
  padding: 0px;
}

.ise-label-b {
  font-weight: 500;
}

.mrc-list-dt .col-nopadd {
  padding: 0px;
}


@media (max-width: 920px) {
  .row {
    display: block;
  }
  .col-6 {
    max-width: 100%;
  }
}

.input-container {
  width: 100%;
}

.loader-align {
  margin-top: 25px;
}

.preferred-ise-label {
  margin-left: 2%;
}
